<section class="restaurant-about">
    <div class="container">
        <h2 class="visually-hiden">About our restaurant</h2>
        <div class="restaurant-about-first">
            <h3 class="restaurant-about-first-title">Amet minim mollit non</h3>
            <span class="restaurant-bout-first-logo">МІМІНО</span>
            <p class="restaurant-about-first-text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                Velit officia consequat duis enim velit mollit. 
                Exercitation veniam consequat sunt nostrud amet.
            </p>
        </div>
        <picture class="restaurant-about-first-image">
            <source>
            <source>
            <source>
            <img 
            src="/src/images/main-page/restaurant-about/rest-about-desk1.jpg" 
            width="460px"
            alt="">
        </picture>
    </div>
</section><!-- SLIDER
<include src="../slide/slide-main-page-rest-about.html"></include> -->
